.welcome-container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 38%;
    margin-right: 38%;
    width: 24%;
}

.welcome-form{
    display: block;
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.welcome-form h3{
    text-align: center;
    color: #fff;
    padding: 5%;
}

.welcome-container form{
    padding: 10%;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.welcome-form .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
    margin-top:6%;
}